.dos-nav-bar{
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      height: 46px;
      line-height: 1.5;
      text-align: center;
      background-color: #fff;
      user-select: none;
}